#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VeilidChat
Comment=VeilidChat Private Messaging
Exec=veilidchat
Icon=com.veilid.veilidchat
Terminal=false
Type=Application
Categories=Network;
